<header class="d-flex justify-content-between align-items-center header shadow sticky-top bg-light">
  <div class="header__logo">
    <img src="./../../assets/images/beedu-logo.jpg" alt="Beedu logo" />
  </div>
  <ul class="nav">
    <li class="nav-item active">
      <a href="./../home/index.html" class="nav-link nav-link--custom">Trang chủ</a>
    </li>
    <li class="nav-item">
      <a href="./../news/index.html" class="nav-link nav-link--custom">Tin tức</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link nav-link--custom">Giáo dục</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link nav-link--custom">Kiểm tra</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link nav-link--custom">Trò chuyện</a>
    </li>
    <li class="nav-item">
      <div class="dropdown">
        <a class="nav-link nav-link--custom dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Xem thêm
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="./../view-more/index.html">Liên hệ</a></li>
          <li>
            <hr class="dropdown-divider m-0" />
          </li>
          <li><a class="dropdown-item" href="./../about-us/index.html">Về chúng tôi</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="actions"></div>
</header>
<script defer type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script defer >
  const user = JSON.parse(localStorage.getItem('user'));
  const contentHTML = user
    ? // Have logined
    `<span class="action__icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        <span class="action__icon"><i class="fa-solid fa-bell"></i></span>
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://ui-avatars.com/api/?background=random&name=${user.fullname}" alt="Avatar" class="avatar">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            <div class="d-flex flex-row align-items-center p-3">
                <div class="info__avatar mr-3">
                    <img src="https://ui-avatars.com/api/?background=random&name=${user.fullname}" alt=""avatar class="avatar--img">
                </div>
                <div class="info__desc ml-3">
                    <h6 class="fullname mb-0 font-weight-bold">${user.fullname}</h6>
                    <p class="email mb-0">${user.email}</p>
                </div>
            </div>
            <li><hr class="dropdown-divider m-0"></li>
            <li><a class="dropdown-item" href="#">Hồ sơ</a></li>
            <li><a class="dropdown-item" href="./../support/index.html">Trợ giúp</a></li>
            <li><a class="dropdown-item" href="#">Cài đặt</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" onclick="signOut()">Đăng xuất</a></li>
          </ul>
        </div>`
    : // Haven't login yet
    `<a href="./../signIn/" class="btn btn-warning text-direction-none text-light">
          Đăng nhập/Đăng kí<span class="action__icon"><i class="fa-solid fa-circle-user"></i></span>
        </a>`;
  const actionDiv = document.getElementsByClassName('actions')[0];
  actionDiv.innerHTML = contentHTML;
  $(document).ready(function () {
    $.get('./../../component/head/index.html', function (data) {
      $("head").append(data);
    });
  })

  function signOut(){
    localStorage.clear()
    document.location.href = '/pages/home/index.html'
  }
</script>
