.home-page6 {
    background: rgb(251, 173, 24);
    background: linear-gradient(85deg, rgba(251, 173, 24, 1) 41%, rgba(246, 232, 42, 1) 74%);
    padding: 50px;
}

.home-page6 p {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
    
}
.home-page6_main{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
  
}
.home-page6_container{
   border: 1px solid none;
   border-radius: 5px;
   background-color: var(--bg6);
   width: 23% ;
   aspect-ratio: 1/1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.first{
    margin-top:300px;    
}
.second{
    margin-top:150px;
}
.third{
    margin-bottom: 200px;
}
.fourth{
    margin-top:210px;
}