.home-page1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 100px !important;
  padding-right: 100px !important;
}

.home-page1_nav {
  height: 40.8px;
  margin: 30px;
  margin-right: 100px;
}

.home-page1_nav ul {
  display: flex;
  justify-content: center;
}

.nav-link--custom {
  color: #000;
  font-size: 24px !important;
}

#active {
  border-bottom: 2px solid #fbad18;
  color: #fbad18;
}

.home-page1_nav ul li a {
  color: black;
  font-size: 25px;
}

.home-page1_nav ul li a:hover {
  color: var(--hover-text);
  text-decoration: underline;
}

.home-page1_icon {
  height: 40.8px;
  margin: 30px;
}

.home-page1_icon i {
  font-size: 30px;
  padding: 5px;
  color: var(--icon);
}

.image {
  height: 779px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.slick-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: none;
  z-index: 2;
  padding: 10px 20px;
}

.slick-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  z-index: 2;
  padding: 10px 20px;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  right: 0px;
  transform: translateX(-20px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}

.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: white;
  border: none;
  outline: none;
}

.slick-dots .slick-active button {
  background-color: var(--hover-text);
}

#home_login {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  color: white;
  text-align: center;
  border-radius: 7px;
  background-color: #3c74b3;

  padding: 24px 48px;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 6px;
}
