.home-page7{
    padding:10px;
    background-image: url(../../asset/imgs/bg7.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.home-page7 > p {
    font-size:30px;
    text-align: center;
    font-weight: bold;
}
.home-page7_nav{
    text-align: center;
    margin-top: 50px;
    border: 1px solid  var(--nav7);
    background-color: var(--nav7);
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px auto;
}
.home-page7_nav p {
    display: inline;
    color: white;
    margin: 15px;
}

#pick{
    border: 1px solid #76B1DE ;
    background-color: #76B1DE;
    border-radius: 5px ;
    text-align: center;
    padding: 2px;
}
.home-page7_main{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
/* .home-page7_component{
    margin: 50px;
} */
.home-page7_component:nth-child(2){
    margin-bottom : 200px;
}
.home-page7_component p {
    text-align: center;
    font-size: 25px;
    color: var(--name-text);
    font-weight: bold;
}
