body {
    padding: 50px;
    padding-top: 5%;
    background-image: url(../../assets/images/background/bg2.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.back__btn {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 100%);
    cursor: pointer;
}

.back__btn img {
    width: 40px;
}


.btn {
    display: block;
    padding: 15px 20px;
    background-color: white;
}

.signup {
    display: flex;
    background-color: white;
    justify-content: space-between;

    margin: 0px auto;
    padding: 75px;
    padding-top: 10px;
    width: 90%;
    min-height: 400px;
    height: 55vh;
    max-width: 1150px;

    border: 1px solid transparent;
    border-radius: 7px;
    box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.signup>div {
    width: 48%;
}

.signup .signup_right {
    position:relative;
    transform: translateY(-14%);

    width: 43%;
    height: auto;
    min-height: calc(100% + 100px + 100px);

    padding: 45px 15px;
    background-color: white;

    border: 1px solid transparent;
    border-radius: 7px;
    box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.signup>div>h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
}

.signup_right h4 {
    margin-bottom: 5vh;
}


.signup .signup_right>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-height: 200px;
}

.signup .signup_right>div>a {
    width: 48%;
    padding: 2px;
    background-color: #3C74B3;
    text-decoration: none;

    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
}

.signup .signup_right>div>a:hover {
    background-color: #568fd1;
}


.signup .signup_right>div>a>div {
    height: 35px;
    aspect-ratio: 1/1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup .signup_right>div>a>div>img {
    width: 20px;
    height: 20px;
}

.signup .signup_right>div>a>span {
    font-size: 11px;
    color: white;
    margin-left: 8px;
    text-align: center;
}

.signup__or {

    width: 100%;
    font-size: 20px;
    font-weight: 500px;

    margin: 3vh 0 6vh;


    display: flex;
    justify-content: center;
    align-items: center;
}

.signup__or>span {
    margin: 0px 7px;
}

.signup__or::after,
.signup__or::before {
    content: '';
    width: 30px;
    height: 1px;
    display: block;
    background-color: black;
}

/* form>label>input {
    width: 100%;
    border: 1px solid transparent;
    border-bottom: 1px solid #707070;
    margin: 10px;
} */

.signup__form {
    padding: 0 15px;

}

.text-field {
    margin-bottom: 2vh;
    position: relative;
}

.toggle-password,
.toggle-passwordConfirm {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);
}

.text-field label {
    display: inline-block;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
}

.text-field input {
    padding: 5px 0;
    display: block;
    width: 100%;

    color: #000000;
    font-size: 14px;
    letter-spacing: 2px;

    border: none;
    outline: none;
    border-bottom: 1px solid #dbdcdd;
}

.text-field input::placeholder {
    color: rgb(0, 0, 0, 0.5);
}

.savePW {
    display: flex;
    justify-content: space-between;
    margin: 4vh 0 6vh;
    font-size: 13px;
}

.savePW>a {
    text-decoration: underline;
    color: #000;
    font-weight: bolder;
}

.btn {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    width: 75%;
    color: white;
    background-color: #3C74B3;
    margin: 0px auto;

    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.btn_submit {
    color: white;
    background-color: #3C74B3 !important;
    letter-spacing: 3px;
    font-weight: 300;
    padding: 10px !important;
    margin-top: 5vh;
}


.signup_left>img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 30%;
    height: 55%;
}

.signup_left>p {
    font-size: 16px;
    padding-bottom: 20px;
}

.signup_left>a {
    border: 1px solid #4D92D2;
    border-radius: 7px;
    padding: 10px;
    color: #4D92D2;
    font-weight: 500;
}

.signup_left h4 {
    text-align: start !important;
}

.button--signUp {
    --color: #4D92D2;
    font-family: "Poppins", sans-serif;
    color: #4D92D2;
    padding: 7.5px 24px !important;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    border: 1px solid var(--color);
    font-size: 16px;
    position: relative;
    isolation: isolate;
    transition: height 0.25s ease-in;
}

.button--signUp:before {
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color);
    z-index: -1;
    transition: height 0.25s ease-in;
}

.button--signUp:hover:before {
    height: 100%;
}

.button--signUp:hover {
    color: white;
}