$white-color: #fff;
$grey-color: #F3F3F3;

$orange-900: #F98201;
$orange-800: #FBAD18;
$orange-700: #FCC423;
$orange-600: #FDDC2D;
$orange-500: #F6E82A;
$orange-400: #F9ED4F;
$orange-300: #FBF271;
$orange-200: #FDF69B;
$orange-100: #FEFAC3;
$orange-50: #FFFEE7;

$blue-900: #284781;
$blue-800: #3463A1;
$blue-700: #3C74B3;
$blue-600: #4584C5;
$blue-500: #4D92D2;
$blue-400: #5FA1D8;
$blue-300: #76B1DE;
$blue-200: #99C7E8;
$blue-100: #BFDCF1;
$blue-50: #E5F1F9;