* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.nav-link--custom {
  color: #000;
  font-size: 24px;
}

.action__icon {
  font-size: 24px;
  padding: 0 8px;
}

.nav-item:last-child {
  display: flex;
  align-items: center;
}

.nav-item:first-child * {
  color: #fbad18;
}

.clear {
  clear: both;
}

.carousel {
  height: 678px;
  position: relative;
}

.carousel img {
  width: 1382px;
  float: right;
}

.blur-white {
  position: absolute;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
  top: 0;
  left: 0;
  width: 1300px;
  height: 678px;
  border-width: 0 30px 30px 0;
}

.carousel-content {
  position: absolute;
  left: 140px;
  bottom: 107px;
}

.carousel-content h3 {
  font-size: 60px;
  max-width: 795px;
}

.carousel-content p {
  font-size: 33px;
  margin-top: 23px;
}

.arrow {
  width: 45px;
  height: 42px;
  position: absolute;
  top: 51px;
  left: 49px;
}

.arrow img {
  width: 100%;
  height: 100%;
}

.body {
  display: flex;
  margin: 100px 140px 200px 140px;
  justify-content: space-between;
}

.body-left {
  max-width: 1015px;
}

.body-left h6 {
  font-size: 42px;
  max-width: 944px;
  margin-bottom: 70px;
}

.body-left p {
  font-size: 25px;
  margin-bottom: 80px;
}

.body-right {
  max-width: 540px;
}

.title {
  border-bottom: 4px solid #fbb21a;
}

.hightlight {
  font-size: 28px;
  background: linear-gradient(#fddc2d, #fbad18);
  padding: 23px 32px 25px 20px;
  max-width: 215px;
  color: white;
  font-weight: 700;
}

.item {
  margin-top: 48px;
  display: flex;
}

.item img {
  width: 238px;
  height: 176px;
  margin-right: 23px;
}

.text p {
  font-size: 22px;
}

.text p:last-child {
  font-size: 20px;
  margin-top: 14px;
  color: #bfbfbf;
}

.footer {
  position: relative;
  background-image: url(./assets/bg-book-green.png);
}

.footer__overlay {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 80px;
}

.footer__overlay > div {
  width: 33%;
  padding: 0 60px;
}

.footer__contact__infor__main {
  color: #fad126;
  font-size: 34px;
  margin-bottom: 30px;
}

.footer__contact__infor__item {
  color: #fff;
  font-size: 20px;
}

.footer__social {
  list-style-type: none;
  padding: 0;
}

.footer__social__item {
  display: inline-block;
  padding-right: 12px;
}

.footer__register {
  align-self: flex-start;
}
